nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.metadata
Trabalho POO/nbproject/private/private.properties
Trabalho POO/nbproject/private/private.xml
Trabalho POO/nbproject/private/private.properties
Trabalho POO/nbproject/private/private.xml
